<div class="px-5 py-14 bg-white shadow-top-sf">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'section_heading' -%}
                <!-- Heading -->
                <div>   
                    {% render 'section-heading', text: block.settings.heading %}
                </div>
        {%- endcase -%}
    {%- endfor -%}
</div>

{% schema %}
{
    "name": "Shop Category (Home)",
    "tag": "section",
    "class": "home-shop-category",
    "blocks": [
        {
            "type": "section_heading",
            "name": "Section Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading Text",
                    "default": "Default Heading"
                }
            ]
        }
    ]
}
{% endschema %}