<a href="{{ url }}" class="inline-block">
    {%- comment -%}theme-check-disable{%- endcomment -%}
    <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="w-full h-auto">
    {%- comment -%}theme-check-enable{%- endcomment -%}
</a>